.contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .inner {
    width: 70%;
    margin-top: 6.5rem;
    .text-container-top {
      display: flex;
      align-items: end;
      width: 100%;
      // justify-content: space-between;
      .contact-h1-container {
        user-select: none;
        display: flex;
        margin-left: 5rem;
        width: 65%;
        h1 {
          font-size: 6.6rem;
          line-height: 1.2;
          transform: translateY(2.4rem);
          position: relative;
          z-index: 50;
          span {
            font-size: 7rem;
            color: #e9dfac;
          }
        }
        @media (max-width: 950px) {
          margin-left: 10%;
          
        }
        @media (max-width: 850px) {
          h1 {
            transform: translateY(2rem);
            font-size: 5rem;
            span {
              font-size: 5.4rem;
            }
          }
        }
        @media (max-width: 515px) {
          margin-left: 20%;
          h1 {
            transform: translateY(2rem);
            font-size: 4rem;
            span {
              font-size: 4.5rem;
            }
          }
        }
        @media (max-width: 450px) {
          width: 100%;
          margin-left: 20%;

          h1 {
            transform: translateY(1.4rem);
            font-size: 3.5rem;
            span {
              font-size: 4rem;
            }
          }
        }
      }
    }
    .contact-container {
      // height: 600px;
      width: 100%;
      display: flex;
      padding: 3rem;
      &.glass {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0));
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 3px;
        // border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      }
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 65%;
        border-right: solid 1px $grey-opacity-xtra;
        padding: 8rem 1rem 1rem 2rem ;
        margin-bottom: 3rem;
        .contact-text-wrapper {
          padding-top: 1rem;
          .email-label {
            margin-bottom: 3rem;
            user-select: none;
          }
          .email-container {
            display: flex;
            border: 1px solid $grey-opacity-xtra;
            border-radius: 2px;
            margin-bottom: 6rem;
            width: fit-content;
            position: relative;
            input {
              background: transparent;
              font-family: 'Montserrat', sans-serif;
              font-size: 20px;
              font-weight: 300;
              color: $grey;
              width: 280px;
              padding: 1rem 0rem 1rem 1rem;
              border: none;
              // border: 1px solid $grey-opacity-xtra;
              &:focus {
                outline: none;
              }
              @media (max-width: 425px) {
                font-size: 16px;
                font-weight: 300;
                color: $grey;
                width: 220px;
              }
              @media (max-width: 370px) {
                font-size: 16px;
                font-weight: 300;
                color: $grey;
                width: 220px;
                padding: .5rem 0rem .5rem .5rem;
              }
            }
            .copy-email-btn {
              cursor: pointer;
              transition: 200ms ease;
              color: $grey-opacity;
              margin: 1rem 2rem 1rem 1rem;
              &:hover {
                color: $grey;
              }
              &::before {
                content: 'Copied';
                position: absolute;
                top: -4REM;
                right: -1rem;
                padding: .5rem 1rem;
                background-color: #4A4039;
                border-radius: 8px;
                z-index: 10;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                display: none;
              }
              &::after {
                content: '';
                position: absolute;
                top: -2.15rem;
                right: 3rem;
                width: 10px;
                height: 10px;
                background-color: #4A4039;
                transform: rotate(45deg);
                z-index: 5;
                display: none;
              }
              // &.active button::before,
              &.active {
                &::after {
                  display: block;
                }
                &::before {
                  display: block;
                }
              }
              @media (max-width: 370px) {
                margin: .5rem 1rem .5rem .5rem;
              }
            }
          }
          .linkedin-link {
            user-select: none;
            margin-bottom:8rem;
            @media (max-width: 850px) {
              margin-bottom: 2rem;
            }
          }
        }
        @media (max-width: 1250px) {
          width: 85%;
        }
        @media (max-width: 850px) {
          padding: 2rem 1rem 1rem 2rem ;
        }
        @media (max-width: 550px) {
          width: 95%;
        }
        @media (max-width: 480px) {
          width: 100%;
          border-right: none;
        }
        @media (max-width: 370px) {
          padding: 0rem;
        }

      }
      .link-container {
        display: flex;
        flex-direction: column;
        .socials {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-top: 7rem;
          ul {
            padding-right: 2rem;
            display: flex;
            li {
              display: flex;
              align-items: center;
              margin-left: 1.5rem;
              a {
                transition: 200ms ease;
                i {
                  transition: 200ms ease;
                  color: $grey-opacity;
                  font-size: 2.5rem;
                  scale: 1;
                }
                &:hover {
                  i {
                    scale: 1.135555;
                    color: $grey;
                      
                  }
                }
              }
            }
          }
        }
      }
      @media (max-width: 370px) {
        padding: 1.5rem;
      }
    }
    @media (max-width: 950px) {
      width: 100%;
      padding: 3rem 1rem;
      height: 300px;
      margin-top: 100px;
    }
    
  }
}