.about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .inner {
    width: 70%;
    margin-top: 6.5rem;
    .text-container-top {
      display: flex;
      align-items: end;
      width: 100%;
      // justify-content: space-between;
      .about-h1-container {
        display: flex;
        margin-left: 5rem;
        width: 65%;
        h1 {
          font-size: 6.6rem;
          line-height: 1.2;
          transform: translateY(2.4rem);
          position: relative;
          z-index: 50;
          span {
            font-size: 7rem;
            color: #e9dfac;
          }
        }
        @media (max-width: 950px) {
          margin-left: 10%; 
        }
        @media (max-width: 850px) {
          h1 {
            transform: translateY(2rem);
            font-size: 5rem;
            span {
              font-size: 5.4rem;
            }
          }
        }
        @media (max-width: 465px) {
          margin-left: 20%;
          h1 {
            transform: translateY(1.4rem);
            font-size: 3.5rem;
            span {
              font-size: 4rem;
            }
          }
        }
      }
      .notable-skills {
        display: flex;
        width: 35%;
        h2 {
          transform: translateY(1.4rem);
          position: relative;
          z-index: 50;
          font-weight: 300;
          // font-family: 'Libre Baskerville', serif;
        }
      }
    }
    .about-container {
      height: 600px;
      width: 100%;
      display: flex;
      padding: 3rem;
      &.glass {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0));
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 3px;
        // border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      }
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
        border-right: solid 1px $grey-opacity-xtra;
        padding: 8rem 1rem 1rem 2rem ;
        margin-bottom: 3rem;
        .p-1, .p-2, .p-3 {
          margin-bottom: 2rem;
          max-width: 500px;
          p {
            line-height: 17px;
          }
        }
        .link-container {
          display: flex;
          flex-direction: column;
          .text {
            max-width: 400px;
            margin-top: 5rem;
            p {
              &.links {
                margin-top: 1rem;
              }

            }
          }
          .socials {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-top: 7rem;
            ul {
              padding-right: 2rem;
              display: flex;
              li {
                display: flex;
                align-items: center;
                margin-left: 1.5rem;
                a {
                  transition: 200ms ease;
                  i {
                    transition: 200ms ease;
                    color: $grey-opacity;
                    font-size: 2.5rem;
                    scale: 1;
                  }
                  &:hover {
                    i {
                      scale: 1.135555;
                      color: $grey;
                        
                    }
                  }
                }
              }
            }
          }
        }
        @media (max-width: 1285px) {
          padding: 3rem 1rem 1rem 2rem ;
        }
      }
      .stack-container {
        width: 35%;

        .tech-stack {
          user-select: none;
          padding-left: 3rem;
          // margin-bottom: 2rem;
          padding-bottom: 4rem;
          border-bottom: 1px solid $grey-opacity-xtra;
          .notable-skills-media {
            display: none;
          }
          ul {
            margin-left: 2rem;
            li {
              display: flex;
              align-items: center;
              margin: 1rem 0;
              i {
                transition: 200ms ease;
                font-size: 2.5rem;
                margin-right: 2rem;
                color: $grey-opacity;
                scale: 1;
              }
              &:hover {
                i {
                  scale: 1.135555;
                  &.devicon-html5-plain {
                    color: #e6602b8a!important;
                  }
                  &.devicon-css3-plain {
                    color: #008cff8a!important;
                  }
                  &.devicon-sass-original {
                    color: #c731848a!important;
                  }
                  &.devicon-javascript-plain {
                    color: #ebc20e8a!important;
                  }
                  &.devicon-typescript-plain {
                    color: #008cff8a!important;
                  }
                  &.devicon-git-plain {
                    color: #e63a058a!important;
                  }
                  &.devicon-photoshop-line {
                    color: #0a86ec8a!important;
                  }
                  &.devicon-figma-plain {
                    color: #21a0658a!important;
                  }
                }
              }
            }
          }
        }
        .other-skills {
          padding-left: 3rem;
          user-select: none;
          h2 {
            font-size: 22px;
            transform: translateY(-2.1rem);
          }
          ul {
            margin-left: 2rem;
            li {
              display: flex;
              align-items: center;
              margin: 1rem 0;
              i {
                transition: 200ms ease;
                font-size: 2.5rem;
                margin-right: 2rem;
                color: $grey-opacity;
                scale: 1;
              }
              &:hover {
                i {
                  scale: 1.135555;
                  &.devicon-git-plain {
                    color: #e63a058a!important;
                  }
                  &.devicon-vscode-plain {
                    color: #008cff8a!important;
                  }
                  &.devicon-photoshop-line {
                    color: #008cff8a!important;
                  }
                  &.devicon-figma-plain {
                    color: #21a0658a!important;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 1285px) {
      .text-container-top {
        .about-h1-container {
        }
        .notable-skills {
          display: none;
        }
      }
      .about-container {
        flex-direction: column;
        height: auto;
        order: 2;
        .text-container {
          width: 100%;
          border: none;
        }
        .stack-container {
          width: 100%;
          .tech-stack {
              border-top: 1px solid $grey-opacity-xtra;
              .notable-skills-media {
                display: block;
                font-size: 22px;
                transform: translateY(-2.1rem);
              }
            }
        }
      }
    }
    @media (max-width: 850px) {
      margin-top: 100px;
      width: 100%;
      padding: 3rem 1rem;
    }
  }
  @media (max-width: 1285px) {
    height: auto;
  }
}
