@import 'variables.scss';

nav {
  ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -80px;
    top: 0;
    height: 100%;
    justify-content: center;
    z-index: 10;
    transition: 200ms ease;
    li {
      cursor: pointer;
      transition: 350ms;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 13.5rem;
      // margin: 10px 0;
      font-size: 20px;
      background-color: #1d171b9a;
      padding-right: 1.5rem;
      border-radius: 0px 116px  78px 0px;
      box-shadow: 0px 4px 10px 4px #00000031;
      background-color: #60342113;
      width: fit-content;
      transform-origin: center left;
      
      a {
        display: flex;
        span {
          transition: 350ms;
          display: flex;
          margin: 0px 10px 0px 5px;
          color: $grey;
          letter-spacing: 0.4px;
          font-size: 22px;
          font-weight: 200;
          color: $grey-opacity;
        }
        .material-symbols-outlined {
          font-size: 40px !important;
        }
      }
      &:nth-child(1) {
        margin-left: 5px;
      }
      &:nth-child(2) {
        margin: 20% 0;
      }
      &:nth-child(3) {
        margin-bottom: 20%;
        margin-left: 10px;
      }
      
      &.home {
        animation: listBlob 2s ease-in-out infinite alternate;
        transform: translateX(-85px);
      }
      &.portfolio {
        animation: listBlob2 1.5s ease infinite alternate;
        transform: translateX(-105px);

      }
      &.about {
        animation: listBlob3 1.3s ease-in-out infinite alternate;
        transform: translateX(-130px);
      }
      &.contact {
        animation: listBlob4 1.6s ease-in-out infinite alternate;
        transform: translateX(-100px);
      }
      &:hover {
        transform: scale(1.2) translateX(0);
        box-shadow: -3px 8px 10px 4px #0000002d;
        margin: 30% 0;
        span {
          color: $yellow;
        }
        .material-symbols-outlined {
          color: #7a8597a1;
        }
      }
    }
    
    &.show {
      left: 0;
    }
  }
}



@keyframes listBlob {
  0% {
    border-radius: 0px 60px  120px 0px;
  }
  100% {
    border-radius: 0px 116px  78px 0px;
  }
}

@keyframes listBlob2 {
  0% {
    border-radius: 0px 136px  68px 0px;

  }
  90% {
    border-radius: 0px 60px  120px 0px;
  }
  100% {
    border-radius: 0px 60px  120px 0px;
  }
}

@keyframes listBlob3 {
  0% {
    border-radius: 0px 116px  68px 0px;

  }
  100% {
    border-radius: 0px 70px  110px 0px;
  }
}
@keyframes listBlob4 {
  0% {
    border-radius: 0px 88px  68px 0px;
    
  }

  100% {
    border-radius: 0px 70px  135px 0px;
  }
}
