@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'front-page.scss', 'nav.scss';

$grey: #AAA690;
$yellow: #e9dfac;
$orange: #ff8d6b;
$white: #f0efed;
$black: #080b1b;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 10px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  color: #AAA690;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

a, p, li {
  color: #AAA690
}

button {
  border: none;
  background-color: transparent;
}

::-moz-selection { /* Code for Firefox */
  color: #EADE9F;
  background: #1e3257;
}

::selection {
  color: #EADE9F;
  background: #1e3257;
}
