@import 'variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  .page-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
    flex: 1;
    width: 100%;
    .menu {
      position: absolute;
      display: flex;
      top: 0px;
      left: 0;
      // margin: 15px;
      z-index: 100;
      .menu-btn {
        cursor: pointer;
        position: relative;
        display:  inline-block;
        width: 60px;
        height: 60px;
        margin: 25px;
        z-index: 500;
        span {
          transition: 500ms ease;
          margin: 0 auto;
          position: relative;
          top: 12px;
          &::before, &::after {
            position: absolute;
            content: '';
          }
        }
        span, span::before, span::after {
          width: 30px;
          height: 2px;
          background-color: $grey;
          display: block;
        }
        span::before {
          margin-top: -12px;
          &.show {
            margin-left: 10px;
          }
        }
        span::after {
          z-index: 4;
          margin-top: 12px;
          &.show {
            margin-left: 10px;
          }
        }
        &.show {
          span {
            margin: 0 auto;
            position: relative;
            top: 12px;
            &::before, &::after {
              position: absolute;
              content: '';
            }
          }
          span, span::before, span::after {
            width: 30px;
            height: 2px;
            background-color: $grey;
            display: block;
          }
          span::before {
            margin-top: -12px;
            margin-left: 10px;
          }
          span::after {
            margin-top: 12px;
            margin-left: 10px;
          }
        }
      }
    }
    .front-page-wrapper {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 7rem;
      .text-container {
        user-select: none;
        display: flex;
        flex-direction: column;
        max-width: 780px;
        .h1-container {
          display: flex;
          width: 420px;
          margin-bottom: 1rem;
          h1 {
            font-size: 6.6rem;
            line-height: 1.2;
            span {
              font-size: 7rem;
              color: #e9dfac;
            }
          }
        }
        .p-container {
          p {
            font-size: 2.6rem;
            line-height: 3.2rem;
            span {
              font-weight: 400;
              color: #ddd5ac;
  
            }
  
          }
        }
      }
      @media (max-width: 850px) {
        padding: 2rem;
        .text-container {
          .h1-container {
            width: 280px;
            h1 {
              font-size: 4.4rem;
              span {
                font-size: 5rem;
              }
            }
          }
          .p-container {
            width: 500px;
            p {
              font-size: 1.9rem;
            }
          }
        }
      }
      @media (max-width: 545px) {
        padding: .5rem;
        .text-container {
          .h1-container {
            width: 195px;
            h1 {
              font-size: 3rem;
              span {
                font-size: 3.5rem;
              }
            }
          }
          .p-container {
            width: 300px;
            p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
  .waves {
    display: flex;
    background-color: #362017;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    svg {
      height: 100vh;
      width: 100vw;
      .bg-blob {
        animation: rotate 155s linear infinite;
        transform-box: fill-box;
        transform-origin: center;
        // display: none;

      }
      .black-blob1 {
        animation: rotate 75s linear infinite;
        transform-box: fill-box;
        transform-origin: center;
        // display: none;

      }
      .black-blob2 {
        animation: rotate 95s linear infinite;
        transform-box: fill-box;
        transform-origin: center;
        // display: none;

      }
      .brown-back {
        animation: rotate 65s linear infinite;
        animation-direction: reverse;
        transform-box: fill-box;
        transform-origin: center;
        // display: none;

      }
      .brown-mid {
        animation: rotate 60s linear infinite;
        // animation-direction: reverse;
        transform-box: fill-box;
        transform-origin: center;
        // display: none;
      }
      .circles {
        circle {
          transform-box: fill-box;
          transform-origin: center;
          // display: none;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}